<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding menu-content">
    <ion-button expand="full" fill="clear">
      <ion-icon name="home" slot="start"></ion-icon>
      Option 1
    </ion-button>
    <ion-button expand="full" fill="clear">
      <ion-icon name="star" slot="start"></ion-icon>
      Option 2
    </ion-button>
    <ion-button expand="full" fill="clear">
      <ion-icon name="settings" slot="start"></ion-icon>
      Option 3
    </ion-button>
    <ion-button expand="full" fill="clear">
      <ion-icon name="person" slot="start"></ion-icon>
      Option 4
    </ion-button>
  </ion-content>
</ion-menu>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de Usuarios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let user of users" (click)="openPermissions(user)">
          <ion-label>{{ user.name }}</ion-label>
          <ion-label>{{ user.email }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-content>
      <ion-button (click)="openPermissions(selectedUser)">Abrir Permisos</ion-button>    </ion-content>
    
  </ion-card>
</ion-content>

