<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding menu-content">
    <ion-button expand="full" fill="clear" [routerLink]="['/acceso']">
      <ion-icon name="home" slot="start"></ion-icon>
      Inicio
    </ion-button>
    <ion-button expand="full" fill="clear" [routerLink]="['/usuarios']">
      <ion-icon name="settings" slot="start"></ion-icon>
      Usuarios
    </ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="custom-header">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="page-background">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información de Usuarios</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let user of users" (click)="openPermissions(user)">
            <ion-label>{{ user.name }}</ion-label>
            <ion-label>{{ user.email }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-content>
        <ion-button (click)="openPermissions(selectedUser)">Abrir Permisos</ion-button>
      </ion-content>
    </ion-card>
  </ion-content>
</div>