ion-content.page-background {
    --ion-background-color: transparent;
    background: #654ea3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .custom-card {
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    width: 80%;
    max-width: 320px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08), 0 -2px 4px rgba(0, 0, 0, 0.08), 0 0 10px 4px rgba(255, 255, 255, 0.5);
  }
  
  .custom-header {
    color: white;
    --background: linear-gradient(to left, #eaafc8, #654ea3);
    
  }
  

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto; /* Centrar horizontalmente */
  }
  
  .logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  
  
  .custom-card-title {
    text-align: center;
    font-weight: bold;
  }
  .ion-padding {
    menu-content{
        --background: -webkit-linear-gradient(to right, #4e2c64, #203A43, #1d0f27);
    }
  }
  
  
  
  
  