ion-header {
    ion-toolbar {
      --background: linear-gradient(to left, #eaafc8, #654ea3); 
      --color: #ffffff; // Color del texto del encabezado
    }
  }
  
  ion-content {
    background: #654ea3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to left, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ // Color de fondo del contenido
  }
  
  ion-title {
    font-size: 24px;
    color: white;
    font-weight: bold;
  }
  
  ion-card {
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    width: 80%;
    max-width: 320px;
    margin: auto;
  }
  
  ion-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  ion-item {
    --background: transparent;
    --border-color: black;
    --placeholder-color: black;
    --color: black;
  }
  
  ion-input {
    color: rgb(0, 0, 0);
  }
  
  div[padding-top] {
    padding-top: 16px;
  }
  
  ion-button {
    --background: #6c63ff; // Color de fondo del botón
    --color: #ffffff; // Color del texto del botón
  }