<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Accesos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-grid class="ion-align-items-center">
    <br>
    <br>
    <ion-row>
      <ion-col size="4">
        <ion-button shape="square" class="image-button">
          <ion-img src="assets/images/puerta-de-salida.png" slot="icon-only"></ion-img>
        </ion-button>        
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-col size="4">
        <ion-button shape="square" class="image-button">
          <ion-img src="assets/images/puerta-de-salida.png" slot="icon-only"></ion-img>
        </ion-button>        
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-col size="4">
        <ion-button shape="square" class="image-button">
          <ion-img src="assets/images/puerta-de-salida.png" slot="icon-only"></ion-img>
        </ion-button>        
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-col size="12" class="text-center">
        <ion-title>Tokens</ion-title>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col size="12" class="text-center">
        <ion-button expand="full" class="ion-button">Generar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>