<ion-content>
  <!-- Contenido de la página "user-permissions" -->
  <ion-list>
    <!-- Lista de permisos con casillas de verificación -->
    <ion-item>
      <ion-label>Permiso 1</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Permiso 2</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Permiso 3</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- Botón de guardar permisos -->
  <ion-button expand="full" (click)="dismiss()">Guardar</ion-button>
</ion-content>

